.form-container {
    max-width: 600px;
    margin: auto;
    background: #030303;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.form-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.producto-form p {
    margin-bottom: 12px;
}

.producto-form input,
.producto-form select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #000000;
}

.preview img {
    margin-top: 10px;
    border-radius: 8px;
}

.form-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn.guardar {
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
}

.btn.cancelar {
    background: #6b7280;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}
