.modal {
    position: fixed;
    inset: 0;
    background: rgba(2, 6, 23, 0.85);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: #0f172a;
    color: #e5e7eb;

    width: 100%;
    max-width: 480px;
    max-height: 90vh;

    border-radius: 16px;
    padding: 20px;

    overflow-y: auto;

    transform: scale(0.9);
    transition: 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}

.close-modal {
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.voucher-img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 15px auto;
    border-radius: 12px;
}
