.modal {
    position: fixed;
    inset: 0;
    background: rgba(2, 6, 23, 0.85);
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background: #0f172a;
    color: #e5e7eb;

    width: 100%;
    max-width: 480px;
    max-height: 90vh;

    border-radius: 16px;
    padding: 22px;

    overflow-y: auto;
}

.close-modal {
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.voucher-img {
    width: 100%;
    max-width: 350px;
    margin: 15px auto;
    display: block;
    border-radius: 12px;
}
