{% extends "inverso_sa/dashboard.html" %}

{% block title %}Mi cuenta bancaria{% endblock %}

{% block contenido %}

<div class="card-form">

    <h2 class="form-title">🏦 Agregar cuenta bancaria</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Banco</label>
            <input type="text" name="banco" required>
        </div>

        <div class="form-group">
            <label>Titular</label>
            <input type="text" name="titular" required>
        </div>

        <div class="form-group">
            <label>Número de cuenta</label>
            <input type="text" name="numero_cuenta" required>
        </div>

        <button type="submit" class="btn-primary">
            Guardar cuenta
        </button>

    </form>

</div>

{% endblock %}
