{% extends "inverso_sa/panel.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'inverso_sa/css/crear_editar_cuenta.css' %}">
{% endblock %}


{% block title %}{{ titulo }}{% endblock %}
{% block page_title %}{{ titulo }}{% endblock %}

{% block content %}

<div class="form-card">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="POST" class="bank-form">
        {% csrf_token %}

        <div class="form-group">
            <label>Banco</label>
            {{ form.banco }}
            {{ form.banco.errors }}
        </div>

        <div class="form-group">
            <label>Destinatario</label>
            {{ form.destinatario }}
            {{ form.destinatario.errors }}
        </div>

        <div class="form-group">
            <label>Número de cuenta</label>
            {{ form.numero_cuenta }}
            {{ form.numero_cuenta.errors }}
        </div>

        <div class="form-group checkbox">
            <label>
                {{ form.activa }} Cuenta activa
            </label>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primary">💾 Guardar</button>

            <a href="{% url 'cuentas_bancarias' %}" class="btn-cancel">
                ↩ Cancelar
            </a>
        </div>

    </form>

</div>

{% endblock %}
